<h1>Créer un cocktail</h1>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<button class="btn btn-light"><%= link_to("Retour aux cocktails", cocktails_path) %></button>


